html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #797979;
  font-size: 17px;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #f0f0f0;
  overflow: auto;
  justify-content: center;
}

.card {
  width: 76%;
  height: 382px;
  margin: auto;
  background: grey;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card:hover {
  background-color: lightskyblue;
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
.card-opacity{
  position: absolute;
  top: 0;  
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.card-opacity:hover{
  background: #ffffffad;
}
.card-title{
  width: 100%;
  color: black;
}
.my-work{
  background: #f0f0f0;
  padding-top: 13px;
  margin-top: 83px;
}
.card-wrapper{
  text-align: center;
  padding: 40px 0;
  background-color: #5183f4;
}
.link-anchorsOne{
  padding-right: 15%;
}
.link-anchors,.link-anchorsOne{
  color: #797979;
  text-decoration: none;
  font-size: 16px;
}
.link-anchors:hover,.link-anchorsOne:hover{
  color: #f4e751;
}
.project-description{
  font-weight: bold;
  color: black;
  margin-top: 23px;
}

@media only screen and (max-width: 425px){
  .card{
    width: auto;
    height: 260px;
    margin: 0 5%;
  }
}