.footer{
    width: 80%;
    margin: 0 auto;
    padding: 47px 0 50px 0;
}
.findme{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    width: 305px;
    padding: 0;
}
.footer h2 a:hover{
    color: #009364;
}