.body{
    letter-spacing: -1px;
    font-family: Work Sans,Helvetica,Arial,sans-serif;
    color: #5c5c5c;
    font-size: 17px;
    font-weight: bolder;
}
.navbarWrapper{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.profilePic{
    background-image: url("../images/19325408.jpg");
    background-size: cover;
    width: 140px;
    height: 140px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.links{
    width: 50%;
    text-align: right;
    position: relative;
}
.back{
    position: fixed;
    top: 0;
    background: radial-gradient(#585858, transparent);
    left: 0;
    text-align: center;
    padding: 22px 5px;
    border-radius: 50px;
    z-index: 1;
}
.picwrapper{
    width: 50%;
}
.header-container{
    width: 90%;
    margin-left: 7%;
}
.profileText{
    margin: auto;
    line-height: 48px;
}
.jobs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 26px;
}
.description{
    max-width: 688px;
    font-weight: 700;
    line-height: 1.5;
}
.title-anchor{
    color: #f4e751;
    text-decoration: none;
}
.description .title-anchor{
    color: #009364;
}
.description .title-anchor:hover{
    color: #f4e751;
}
.job-application{
    letter-spacing: 2px;
    font-weight: 100;
    font-size: unset;
}
.freelancer{
    background-image: url('../images/freelancer.jpg');
    display: block;
    height: 61px;
    background-size: cover;
    background-position: center;
}
.ionian{
    background-image: url('../images/ionio-logo.jpg');
    display: block;
    height: 108px;
    background-size: cover;
    background-position: center;
    background-color: black;
}